 body {
    background: #EDF2F8;
    /* background: -webkit-linear-gradient(right,#f2f2f2, #f2f2f2);
    background: -moz-linear-gradient(right, #f2f2f2, #f2f2f2);
    background: -o-linear-gradient(right, #f2f2f2, #f2f2f2);
    background: linear-gradient(to left, #f2f2f2, #f2f2f2);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;       */
  }
 
 .navbar {
  min-height: 10px;
}
.navbar-nav  {
  background-color: #F8F9FB;
}

.navbar-nav:focus {     
  background-color:#022E64; 
  color: white   
}
.dropdown-basic{
  display: block;
  position: absolute;
  right: 100px;
}
.unresolved{
  color: yellow;
}
.disputes{
  opacity: 50%;

}
.icon-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  /* display: block;
  position: absolute; */
  background: #022E64;
  /* left: 60px;
  bottom: 160px */
  
}
.modal-title{
  color:yellow;
}